.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-300 {
  transition: all 0.3s ease;
}

.font-euclid {
  font-family: "Euclid Square", "sans-serif";
}

.font-din {
  font-family: "DIN Pro", "sans-serif";
}

.font-manrope {
  font-family: "Manrope", "sans-serif";
}

.blue-gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 152, 217, 1) 0%,
    rgba(0, 133, 255, 1) 100%
  );
}
